# This is Git's per-user configuration file.
[user]
	name = RolandWarburton
	email = warburtonroland@gmail.com
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[core]
	autocrlf = input
[init]
  defaultBranch = master

