# Ignore xfce files that are not important
/xfce4/**/thunar.xml
node_modules
tags
/.config/shell/zsh/secrets.zsh
/.config/snippets/snippets.conf
/.config/swaybar/config.yml
/.config/mpv/persistent_config.json
/.config/mpv/history.log
