xinput --set-prop "Razer Razer DeathAdder" "libinput Accel Speed" -0.85
xinput --set-prop "Razer Razer DeathAdder" "Coordinate Transformation Matrix" 1 0 0 0 1 0 0 0 1
xinput --set-prop "Razer Razer DeathAdder" "libinput Accel Profile Enabled" 0, 1
xinput --set-prop "Razer Razer DeathAdder" "libinput Scroll Method Enabled" 0, 0, 1
xinput --set-prop "Razer Razer DeathAdder" "libinput Button Scrolling Button" 2
